.outer-box {
  
  border: 5px solid black;
  width:600x;
 
  margin: 200px;
  padding: 20px;
}

.inner-box {
  background-color: yellow;
  border: 40px solid blue;
  padding: 90px;
  font-size: 18px;
 margin: 5px;
}
h2{
    
    text-align: center;
}