     *{
            padding:0;
            margin:0;
        }
        h1{
            text-decoration: underline;
            text-align: center;
            color: black;
            margin-bottom: 50px;
            font-family: cursive;
        }
        #navbar{
            border: 2px solid black;
            height: 200px;
           background-color: aqua;
        
        }
#logo{
  
    color: orange;
    font-size: 20px;
}
button{
    color:black;
    background-color: orange;
}
a{
    color: black;
    margin-right: 95px;
}