p{
    color:blue;
    background:red;
    
}
.p{
    color:green;
    background:aqua;
}
#h{
    font-size: 25px;
}
#z{
    color:rgb(255,0,0);
    background:rgb(0,255,0);
}
div{
    height: 200px;
    width: 200px;
   
    padding: 20px;
    border: 5px solid black;
    margin: 100px;
   
}
.c{
    color:blue;
    background-color: green;
}
#j{
    background:aqua;
}
#v{
    background:yellow;
}
#l{
   
    height:200px;
    width:1000px;
    border:5pxsolid black;
    margin:100px;
    padding:20px;
}
h3{
     text-align: center;
    color:blue;
    font-size: 25px;
}
#x{
    color:red;
    background-color: white;

}


